opencv-python~=4.2.0.34
Cython~=0.29.17
numba~=0.49.0
progress~=1.5
matplotlib~=3.2.1
easydict
scipy
pyquaternion~=0.9.5
nuscenes-devkit
pyyaml
motmetrics~=1.1.3
torchvision~=0.6.0
torch~=1.5.0
setuptools~=46.1.3
numpy~=1.18.4
dcnv2~=0.1
scikit-learn~=0.22.2.post1
pycocotools~=2.0
pillow~=6.2.1
pandas~=1.0.3